{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    {% block filtering_title %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <form method="get">
                <div class="well">
                    <div class="row">
                        {% block filter_fields %}

                        {% endblock %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                      <span class="fa fa-search"></span> Search
                    </button>
                </div>
            </form>
        </div>

        <div class="row">
            <table class="table table-hover" style="margin-top: 2em;">
                <thead>
                    <tr>
                        {% block theads %}
                        {% endblock %}
                    </tr>
                </thead>
                <tbody>
                    {% block results %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}