{% extends "base.html" %}
{% block titulo %}OrthoDEFinder{% endblock %}
{% load static %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">OrthoDEFinder</h1>
        <p>Web-based platform which gets a differential expression count data, functional annotation and find orthologs in different species to infer and attribute expression data in related genes and proteins</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/vinibfranc/OrthoDEFinder" role="button">Learn more »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>DE Genes</h2>
            <p>Differentially expressed genes</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-3">
            <h2>Functional annotation</h2>
            <p>Pannzer 2 functional annotation</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-3">
            <h2>Orthology</h2>
            <p>OrthoFinder orthologs</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-3">
            <h2>Unified search</h2>
            <p>DEGs and annotation inference based on data uploaded</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->

{% endblock %}