{% extends 'base.html' %}

{% load widget_tweaks %}
{% load cool_paginate %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding: 2em;">
  <h4 class="display-4">Orthologs filtering</h4>
  <!--<p class="lead">...</p>-->
</div>
<div class="container">
  <div class="row">
    <form method="get">
      <div class="well">
        <div class="row">
          <div class="form-group col-sm-4 col-md-3 col-lg-4">
            {{ filter.form.organism_1__scientific_name_with_strain.label_tag }}
            {% render_field filter.form.organism_1__scientific_name_with_strain class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-4">
            {{ filter.form.organism_2__scientific_name_with_strain.label_tag }}
            {% render_field filter.form.organism_2__scientific_name_with_strain class="form-control" %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4 col-md-3 col-lg-4">
            {{ filter.form.orthogroup.label_tag }}
            {% render_field filter.form.orthogroup class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-4">
            {{ filter.form.orthologs_organism_1__protein_id.label_tag }}
            {% render_field filter.form.orthologs_organism_1__protein_id class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-4">
              {{ filter.form.orthologs_organism_2__protein_id.label_tag }}
              {% render_field filter.form.orthologs_organism_2__protein_id class="form-control" %}
          </div>
          
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="fa fa-search"></span> Search
        </button>
      </div>
    </form>
  </div>

<div class="row">
  <table class="table table-hover" style="margin-top: 2em;">
    <thead>
      <tr>
        <th>#</th>
        <th>Orthogroup</th>
        <th>Organism 1</th>
        <th>Ortholog organism 1</th>
        <th>Organism 2</th>
        <th>Ortholog organism 2</th>
      </tr>
    </thead>
    <tbody>
      {% for ortholog in page_orthologs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ ortholog.orthogroup }}</td>
          <td>{{ ortholog.organism_1.scientific_name_with_strain }}</td>
          <td>{{ ortholog.orthologs_organism_1.protein_id }}</td>
          <td>{{ ortholog.organism_2.scientific_name_with_strain }}</td>
          <td>{{ ortholog.orthologs_organism_2.protein_id }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No filtered data</td>
        </tr>
      {% endfor %}
      <td class="bg-primary" colspan="6">{{filter.qs|length}} organism(s) found</td>
    </tbody>
  </table>
  <div style="width: 50%; margin: 0 auto;">
    {% cool_paginate page_obj=page_orthologs %}
  </div>
</div>
{% endblock %}