{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding: 2em;">
  <h4 class="display-4">Unified search</h4>
  <!--<p class="lead">...</p>-->
</div>
<div class="container">
  <div class="row">
    <form method="get">
      <div class="well">
        <div class="row">
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.organism_1__scientific_name_with_strain.label_tag }}
            {% render_field filter.form.organism_1__scientific_name_with_strain class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.organism_2__scientific_name_with_strain.label_tag }}
            {% render_field filter.form.organism_2__scientific_name_with_strain class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.design__description.label_tag }}
            {% render_field filter.form.design__description class="form-control" %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.gene_organism_1__de_gene.label_tag }}
            {% render_field filter.form.gene_organism_1__de_gene class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
              {{ filter.form.gene_organism_2__de_gene.label_tag }}
              {% render_field filter.form.gene_organism_2__de_gene class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.gene_organism_1__log_fc.label_tag }}
            {% render_field filter.form.gene_organism_1__log_fc class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.gene_organism_1__p_value.label_tag }}
            {% render_field filter.form.gene_organism_1__p_value class="form-control" %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
            {{ filter.form.protein_organism_1__protein_id.label_tag }}
            {% render_field filter.form.protein_organism_1__protein_id class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-3">
              {{ filter.form.protein_organism_2__protein_id.label_tag }}
              {% render_field filter.form.protein_organism_2__protein_id class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-2">
              {{ filter.form.protein_organism_1__go_id.label_tag }}
              {% render_field filter.form.protein_organism_1__go_id class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-2">
              {{ filter.form.protein_organism_1__ontology.label_tag }}
              {% render_field filter.form.protein_organism_1__ontology class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-3 col-lg-2">
              {{ filter.form.protein_organism_1__description.label_tag }}
              {% render_field filter.form.protein_organism_1__description class="form-control" %}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="fa fa-search"></span> Search
        </button>
      </div>
    </form>
  </div>

  <div class="row">
    <table class="table table-hover" style="margin-top: 2em; font-size:80%;">
      <thead>
        <tr>
          <th>#</th>
          <th>Organism 1</th>
          <th>Organism 2</th>
          <th>Design</th>
          <th>Gene 1</th>
          <th>Gene 2</th>
          <th>Log FC</th>
          <th>P value</th>
          <th>Protein 1</th>
          <th>Protein 2</th>
          <th>GO ID</th>
          <th>Ontology</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for unified in filter.qs %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ unified.organism_1.scientific_name_with_strain }}</td>
            <td>{{ unified.organism_2.scientific_name_with_strain }}</td>
            <td>{{ unified.design.description }}</td>
            <td>{{ unified.gene_organism_1.de_gene }}</td>
            <td>{{ unified.gene_organism_2.de_gene }}</td>
            <td>{{ unified.gene_organism_1.log_fc }}</td>
            <td>{{ unified.gene_organism_1.p_value }}</td>
            <td>{{ unified.protein_organism_1.protein_id }}</td>
            <td>{{ unified.protein_organism_2.protein_id }}</td>
            <td>{{ unified.protein_organism_1.go_id }}</td>
            <td>{{ unified.protein_organism_1.ontology }}</td>
            <td>{{ unified.protein_organism_1.description }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="13">No filtered data</td>
          </tr>
        {% endfor %}
        <td class="bg-primary" colspan="13">{{filter.qs|length}} data found</td>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}